
body  {
    background-image: url("../images/blur-background.png");
    background-repeat: no-repeat;
    background-size:cover;
        -webkit-animation: slidein 20s;
        animation: slidein 20s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    }
    
    @keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    }

header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(186, 186, 255, 0.5);
}

header nav {
    margin-right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 40px 0 40px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:60px;
    color: white;
    text-align: center;
    margin: 300px 0 0 0;
}

.home p {
    font-size: 40px;
}

.home img {
    padding: 20px;
    height: 30%;
    width: 30%;
}

.title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(194, 194, 253);
    margin-top: 600px;
    font-size: 50px;
    font-weight: bold;
    padding: 80px 0 40px 0;
}

#about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 600px;
    font-size: 50px;
    font-weight: bold;
    padding: 80px 0 40px 0;
}

.about {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.about article {
    background-color: rgba(186, 186, 255, 0.1);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex: 1 0 0;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
}

.about article h1 {
    margin: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.about p {
    line-height: 1.5;
    margin: 20px;
}

ul{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.about li {
    display: inline-block;
    margin: 20px 40px 20px 40px;
    font-size: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 40px;
    background-color: rgba(186, 186, 255, 0.5);
    color: white;
}

.projects h1 {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
    padding: 10px 10px 20px 10px;
}

.projects img {
    padding: 0px;
}

.cropped {
    height: 400px;
    width: auto;
    overflow: hidden;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
  
input[type=submit] {
    background-color: lightpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.contact-form {
    border-radius: 10px;
    background-color: rgba(186, 186, 255, 0.5);
    font-size: 20px;
    color: white;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media screen and (max-width:768px) {
    .about {
        flex-direction: column;
    }
}